Tag Along Project A  
15ee148e4381f000

In [8]:
# Importing the needed libraries

# library for reading data in DataFrame
import pandas as pd

# library for working with arrays
import numpy as np

In [41]:
# Reading in the data into pandas DataFrame
nb = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

# Displaying the First 5 Observations
nb.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [42]:
# Displaying the unique content of each column
for col in nb.columns:
    print(f'{col} : {nb[col].unique()}')

Area Code : [  4   7  53  20 233  35  32  37  39  45  46 107  72  59 209 238  62  74
  75  81  90 175 114 122 123 129 130 133 136 137 143 144 147 158 159 184
 193 195 196 197 202 276 206 217 222 226 215 251 181]
Area : ['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Cabo Verde'
 'Cameroon' 'Central African Republic' 'Chad' 'Comoros' 'Congo'
 "Côte d'Ivoire" 'Djibouti' 'Egypt' 'Eswatini' 'Ethiopia' 'Ethiopia PDR'
 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho'
 'Liberia' 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius' 'Morocco'
 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Sao Tome and Principe'
 'Senegal' 'Seychelles' 'Sierra Leone' 'South Africa' 'Sudan'
 'Sudan (former)' 'Togo' 'Tunisia' 'Uganda' 'United Republic of Tanzania'
 'Zambia' 'Zimbabwe']
Item Code : [2501 2901 2903 2941 2905 2511 2805 2513 2514 2515 2516 2517 2518 2520
 2907 2532 2531 2533 2535 2534 2908 2536 2537 2909 2542 2543 2745 2911
 2546 2547 2549 2912 2551 2913 2555 2556 2557 2558 2559 2560 2561 2563
 2570 2914 2571 2572 2573 2574 2575 2576 2577 2578 2579 2580 2582 2586
 2918 2601 2602 2605 2919 2611 2612 2613 2614 2615 2616 2617 2618 2619
 2620 2625 2922 2630 2633 2635 2923 2640 2641 2642 2645 2924 2655 2656
 2657 2658 2659 2943 2731 2732 2733 2734 2735 2945 2736 2946 2740 2743
 2737 2781 2782 2949 2744 2948 2848 2960 2761 2762 2763 2764 2765 2766
 2767 2961 2769 2775 2928 2680 2899 2541 2562 2581]
Item : ['Population' 'Grand Total' 'Vegetal Products' 'Animal Products'
 'Cereals - Excluding Beer' 'Wheat and products' 'Rice and products'
 'Barley and products' 'Maize and products' 'Rye and products' 'Oats'
 'Millet and products' 'Sorghum and products' 'Cereals, Other'
 'Starchy Roots' 'Cassava and products' 'Potatoes and products'
 'Sweet potatoes' 'Yams' 'Roots, Other' 'Sugar Crops' 'Sugar cane'
 'Sugar beet' 'Sugar & Sweeteners' 'Sugar (Raw Equivalent)'
 'Sweeteners, Other' 'Honey' 'Pulses' 'Beans' 'Peas'
 'Pulses, Other and products' 'Treenuts' 'Nuts and products' 'Oilcrops'
 'Soyabeans' 'Groundnuts (Shelled Eq)' 'Sunflower seed'
 'Rape and Mustardseed' 'Cottonseed' 'Coconuts - Incl Copra' 'Sesame seed'
 'Olives (including preserved)' 'Oilcrops, Other' 'Vegetable Oils'
 'Soyabean Oil' 'Groundnut Oil' 'Sunflowerseed Oil' 'Rape and Mustard Oil'
 'Cottonseed Oil' 'Palmkernel Oil' 'Palm Oil' 'Coconut Oil'
 'Sesameseed Oil' 'Olive Oil' 'Maize Germ Oil' 'Oilcrops Oil, Other'
 'Vegetables' 'Tomatoes and products' 'Onions' 'Vegetables, Other'
 'Fruits - Excluding Wine' 'Oranges, Mandarines'
 'Lemons, Limes and products' 'Grapefruit and products' 'Citrus, Other'
 'Bananas' 'Plantains' 'Apples and products' 'Pineapples and products'
 'Dates' 'Grapes and products (excl wine)' 'Fruits, Other' 'Stimulants'
 'Coffee and products' 'Cocoa Beans and products' 'Tea (including mate)'
 'Spices' 'Pepper' 'Pimento' 'Cloves' 'Spices, Other'
 'Alcoholic Beverages' 'Wine' 'Beer' 'Beverages, Fermented'
 'Beverages, Alcoholic' 'Alcohol, Non-Food' 'Meat' 'Bovine Meat'
 'Mutton & Goat Meat' 'Pigmeat' 'Poultry Meat' 'Meat, Other' 'Offals'
 'Offals, Edible' 'Animal fats' 'Butter, Ghee' 'Cream'
 'Fats, Animals, Raw' 'Fish, Body Oil' 'Fish, Liver Oil' 'Eggs'
 'Milk - Excluding Butter' 'Fish, Seafood' 'Freshwater Fish'
 'Demersal Fish' 'Pelagic Fish' 'Marine Fish, Other' 'Crustaceans'
 'Cephalopods' 'Molluscs, Other' 'Aquatic Products, Other'
 'Aquatic Animals, Others' 'Aquatic Plants' 'Miscellaneous' 'Infant food'
 'Sugar non-centrifugal' 'Palm kernels' 'Ricebran Oil']
Element Code : [ 511 5301  664  674  684 5511 5611 5072 5911 5521 5527 5123 5131 5154
 5170 5142  645 5171]
Element : ['Total Population - Both sexes' 'Domestic supply quantity'
 'Food supply (kcal/capita/day)' 'Protein supply quantity (g/capita/day)'
 'Fat supply quantity (g/capita/day)' 'Production' 'Import Quantity'
 'Stock Variation' 'Export Quantity' 'Feed' 'Seed' 'Losses' 'Processing'
 'Other uses (non-food)' 'Residuals' 'Food'
 'Food supply quantity (kg/capita/yr)' 'Tourist consumption']
Unit : ['1000 persons' '1000 tonnes' 'kcal/capita/day' 'g/capita/day' 'kg']
Y2014 : [3.8924e+04 0.0000e+00 3.3770e+03 ... 3.5200e+01 5.3310e+01 2.8900e+01]
Y2015 : [3.9728e+04 0.0000e+00 3.3790e+03 ... 5.2830e+01 2.6350e+01 1.9310e+01]
Y2016 : [4.0551e+04 0.0000e+00 3.3720e+03 ... 5.3160e+01 3.2150e+01 1.9450e+01]
Y2017 : [4.1389e+04 0.0000e+00 3.3410e+03 ... 2.0790e+01 1.9410e+01 1.8760e+01]
Y2018 : [4.2228e+04 0.0000e+00 3.3220e+03 ... 2.9530e+01 2.0790e+01 1.8760e+01]

In [4]:
# Displaying the column names
nb.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

<b>Question 1</b>

Which year had the least correlation with ‘Element Code’?

Options

2016 - correct

2014

2015

2017

In [11]:
nb.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [13]:
nb.corr()['Element Code'].sort_values(ascending=False)

Element Code    1.000000
Y2014           0.024457
Y2018           0.024279
Y2017           0.024254
Y2015           0.023889
Y2016           0.023444
Area Code      -0.000209
Item Code      -0.024683
Name: Element Code, dtype: float64

<b>Question 2</b>

If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below?

Options
pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)]) - correct

pd.Dataframe(lst, columns = col, index = [1,2,3])

None of the above

pd.datframe(lst, column = [‘Age’,’Nationality’,’Overall’],index = [1,2,3])

pd.Dateframe(lst, column = [‘Age’,’Nationality’,’Overall’], index = [1,2,3])

In [14]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

df = pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

df

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

<b>Question 3</b>

How would you check for the number of rows and columns in a pandas DataFrame named df?

Options
len(df)

pd.length(df)

df.shape( )

df.shape - correct

In [15]:
df.shape

(3, 3)

<b>Question 4</b>

Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

Options
x = y[2][-1]

x = y[1][-2] 

x = y[1][-1] - correct

x = y[1][1] - correct

In [17]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][-1]
x

8

In [18]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

<b>Question 5</b>

Given the following numpy array 

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

How would you select  the elements in bold and italics from the array?

Options
array[ : 1, 1 :] 

array[ 1 : , : ]

array[ : 1, 1 : ]

array[ : 2, 0 : ]

array[ : 2, 1 : ]  - correct

In [38]:
array = np.array([[94, 89, 63],

         [93, 92, 48],

         [92, 94, 56]])

array

array([[94, 89, 63],
       [93, 92, 48],
       [92, 94, 56]])

In [39]:
array[: 2, 1 : ]

array([[89, 63],
       [92, 48]])

<b>Question 6</b> 

Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

Options

2016

2017

2015

2014 - correct

In [42]:
nb.groupby("Element").sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

<b>Question 7</b>

Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

Options
1584.08 and 1387.21

20675.72 and 26968.27

2134.34 and 3517.22

4251.81 and 4039.32 - correct

In [43]:
nb.groupby('Item')['Y2015', 'Y2018'].sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_24708\4078206740.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  nb.groupby('Item')['Y2015', 'Y2018'].sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

<b>Question 8</b>

Which of these python data structures is unorderly?

Options
Tuple

Dictionary

List

Set - correct

<b>Question 9</b>

What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

Options

'l'

28

'i'

'e' - correct

In [44]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

<b>Question 10</b>

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

Options
Ghana

Guinea-Bissau - correct

Comoros

Cabo Verde

Seychelles

In [46]:
nb.groupby('Area')['Y2017'].sum().sort_values(ascending=False)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

<b>Question 11</b>

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

Options

135.23 and 1603.40

10.60 and 8.49

10.60 and 17.01

8.54 and 9876.77

140.92 and 1671.86 - correct

In [49]:
round(nb.describe().loc['mean':'std', 'Y2017'], 2)

mean     140.92
std     1671.86
Name: Y2017, dtype: float64

<b>Question 12</b>

Which of the following is a python inbuilt module?

Options

Math - correct

Seaborn

Pandas

Matplotlib

<b>Question 13</b>

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

Options

Nigeria - correct

Ethiopia

South Africa

Egypt

Kenya

In [54]:
nb.groupby('Area')['Y2017'].sum().sort_values(ascending=False)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

<b>Question 14</b>

Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

Options

287134.67

232118.43

3231287.75

3947019.23

292836.00 - correct

In [55]:
nb.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

<b>Question 15</b>

What is the total Protein supply quantity in Madagascar in 2015?

Options

180.29

174.91

357.12

173.05 - correct

In [56]:
nb.groupby(['Area', 'Element'])['Y2015'].sum().loc['Madagascar']

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

<b>Question 16</b>

Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

Options

Type error - correct

Value Error

Standard Error

Math Error

In [57]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

<b>Question 17</b>


What is the total number of unique countries in the dataset?

Options

49 - correct

39

45

50

In [58]:
len(nb.Area.unique())

49

<b>Question 18</b>

A pandas Dataframe with dimensions (100,3) has how many features and observations?

Options

A pandas dataframe has no attribute feature or observation.

100 features, 3 observations.

100 rows and 3 observations.

3 features, 100 observations - correct

<b>Question 19</b>

What is the total number and percentage of missing data in 2014 to 3 decimal places?

Options

1538 and 2.522%

1598 and 2.617%

1473 and 2.152 %

1589 and 2.607% - correct

1506 and 2.477%

In [64]:
nb.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [70]:
total_entries = len(nb)
total_entries

60943

In [71]:
num_missing = nb.Y2014.isna().sum()
num_missing

1589

In [72]:
missing_perc = (num_missing/total_entries)*100 
round(missing_perc, 3)

2.607

<b>Question 20</b>

Which of the following dataframe methods can be used to access elements across rows and columns?

Options

df.loc( : )

df.iloc[ : ] - correct

c and d

df.loc( )

df.iloc( )